{% extends 'base.html'%}

{%block title%}

{%endblock%}

{%block content%}

<h1>{{user.first_name}}'s Information</h1>
<ul>
    <li>
        {{user.first_name}}
    </li>
    <li>
        {{user.last_name}}
        
    </li>
    <li>

        {{user.username}}
    </li>
    <li>
        {{user.email}}

    </li>
</ul>

<h2>Feedback</h2>
<a href="/users/{{user.username}}/feedback/add">Add New Feedback</a>

{% for feedback in user_feedback %}
<ol>
    <li>
        {{feedback.title}}
        {{feedback.content}}
    </li>
    <a href="/feedback/{{feedback.id}}/update">Edit</a>
    <form action="/feedback/{{feedback.id}}/delete" method="POST">
        <button>
            Delete Feedback
        </button>
    </form>
</ol>
{% endfor %}

{%endblock%}